# dependencies
node_modules/

# testing
coverage/

# artifacts
.turbo/
*.tsbuildinfo
out/
tooling-dist/
tokenami.css
.next/
next-env.d.ts
dist/

# misc
.DS_Store
*.pem
pnpm-debug.log*

# local env files
.env*.local

# local SQLite files
apps/website/local/*
!apps/website/local/.gitkeep

# root fly.toml file - artifact from deployments
/fly.toml