# dependencies
node_modules/

# testing
coverage;

# artifacts
.turbo/
*.tsbuildinfo

# misc
.DS_Store
*.pem
pnpm-debug.log*

# local env files
.env*.local

# apps/site specific

apps/site/.next/
apps/site/next-env.d.ts
apps/site/tooling-dist/
apps/site/app/tokenami.css

# /packages/design-system
packages/design-system/dist/