.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
tsconfig.tsbuildinfo
/other/drizzle/
/styled-system

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
